@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DemoCreate</h1>
    <p class="lead">Praca inżynierska: Aplikacja internetowa do rozrywkowego przeprowadzania ankiet.</p>
    <p class="lead">Promotor: dr hab. Tadeusz Pankowski prof. nadzw. PP<br />Wykonał: Mateusz Woźniak</p>
</div>